body{
    background-image: url(../images/yellow2.png);

    font-family: 'Amatic SC', cursive;
    color: #ffffff;
    font-size: 70px;
    text-align: center;
    margin-top: 200px;
    line-height: 80px;
    text-shadow: 1px 2px 3px #808080;
}

.date{

}

.week{
    font-size: 50px;
}

.time{
    line-height: 100px;
    font-size: 100px;
}